<div class="container">

  <div class="show-user-profile">

    <div class="show-profile-header-bar">
      <h1><%= @user.first_name.capitalize %> <%= @user.last_name.capitalize %>'s Profile</h1>
      <hr>
  </div>

    <div class="show-profile-grid-outer">
      <div class="show-profile-grid-inner"><!-- grid column -->

        <div class="show-photo-soc-med"> <!-- left column, 2 rows -->
          <div class="show-profile-photo">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/brian-welch" %>
          </div>
          <hr>
          <ul>
            <li><i class="fab fa-facebook"></i> <%= link_to "brianwelch777", "https://www.facebook.com/brianwelch777", target: "blank" %></li>
            <li><i class="fab fa-instagram"></i> <%= link_to "brian_welch", "https://www.instagram.com/brian_welch/?hl=en", target: "blank" %></li>
            <li><i class="fab fa-pinterest-square"></i> <%= link_to "brianwelch777", "https://www.pinterest.com/brianwelch777/", target: "blank" %></li>
            <li><i class="fab fa-google-plus-square"></i> <%= link_to "brian.c.welch", "https://calendar.google.com/calendar/r?tab=wc", target: "blank" %></li>
          </ul>
        </div>
        <div class="show-profile-favorites-block">
          <div class="scroll-block">
            <table class="show-profile-favorites-table">
              <tr>
                <th>Recipe Name</th><th>Added to Favorites</th><th>Added to Dinner Plan</th><th>Remove?</th>
              </tr>
              <tr>
                <td>Et labitur bonorum disputationi his, quo stet.</td>
                <td>2018-06-06</td>
                <td>2018-09-23</td>
                <td>
                  <form action="" method="">
                    <input type="hidden" value="recipe_id">
                    <button type="submit" class="add-brand-corners"><i class="fas fa-trash-alt"></i></button>
                  </form>
                </td>
              </tr>
              <tr>
                <td>Et labitur bonorum disputationi his, quo stet.</td>
                <td>2018-06-06</td>
                <td>2018-09-23</td>
                <td>
                  <form action="" method="">
                    <input type="hidden" value="recipe_id">
                    <button type="submit" class="add-brand-corners"><i class="fas fa-trash-alt"></i></button>
                  </form>
                </td>
              </tr>
              <tr>
                <td>Et labitur bonorum disputationi his, quo stet.</td>
                <td>2018-06-06</td>
                <td>2018-09-23</td>
                <td>
                  <form action="" method="">
                    <input type="hidden" value="recipe_id">
                    <button type="submit" class="add-brand-corners"><i class="fas fa-trash-alt"></i></button>
                  </form>
                </td>
              </tr>
              <tr>
                <td>Et labitur bonorum disputationi his, quo stet.</td>
                <td>2018-06-06</td>
                <td>2018-09-23</td>
                <td>
                  <form action="" method="">
                    <input type="hidden" value="recipe_id">
                    <button type="submit" class="add-brand-corners"><i class="fas fa-trash-alt"></i></button>
                  </form>
                </td>
              </tr>
              <tr>
                <td>Et labitur bonorum disputationi his, quo stet.</td>
                <td>2018-06-06</td>
                <td>2018-09-23</td>
                <td>
                  <form action="" method="">
                    <input type="hidden" value="recipe_id">
                    <button type="submit" class="add-brand-corners"><i class="fas fa-trash-alt"></i></button>
                  </form>
                </td>
              </tr>
              <tr>
                <td>Et labitur bonorum disputationi his, quo stet.</td>
                <td>2018-06-06</td>
                <td>2018-09-23</td>
                <td>
                  <form action="" method="">
                    <input type="hidden" value="recipe_id">
                    <button type="submit" class="add-brand-corners"><i class="fas fa-trash-alt"></i></button>
                  </form>
                </td>
              </tr>
              <tr>
                <td>Et labitur bonorum disputationi his, quo stet.</td>
                <td>2018-06-06</td>
                <td>2018-09-23</td>
                <td>
                  <form action="" method="">
                    <input type="hidden" value="recipe_id">
                    <button type="submit" class="add-brand-corners"><i class="fas fa-trash-alt"></i></button>
                  </form>
                </td>
              </tr>
              <tr>
                <td>Et labitur bonorum disputationi his, quo stet.</td>
                <td>2018-06-06</td>
                <td>2018-09-23</td>
                <td>
                  <form action="" method="">
                    <input type="hidden" value="recipe_id">
                    <button type="submit" class="add-brand-corners"><i class="fas fa-trash-alt"></i></button>
                  </form>
                </td>
              </tr>
              <tr>
                <td>Et labitur bonorum disputationi his, quo stet.</td>
                <td>2018-06-06</td>
                <td>2018-09-23</td>
                <td>
                  <form action="" method="">
                    <input type="hidden" value="recipe_id">
                    <button type="submit" class="add-brand-corners"><i class="fas fa-trash-alt"></i></button>
                  </form>
                </td>
              </tr>
              <tr>
                <td>Et labitur bonorum disputationi his, quo stet.</td>
                <td>2018-06-06</td>
                <td>2018-09-23</td>
                <td>
                  <form action="" method="">
                    <input type="hidden" value="recipe_id">
                    <button type="submit" class="add-brand-corners"><i class="fas fa-trash-alt"></i></button>
                  </form>
                </td>
              </tr>
              <tr>
                <td>Et labitur bonorum disputationi his, quo stet.</td>
                <td>2018-06-06</td>
                <td>2018-09-23</td>
                <td>
                  <form action="" method="">
                    <input type="hidden" value="recipe_id">
                    <button type="submit" class="add-brand-corners"><i class="fas fa-trash-alt"></i></button>
                  </form>
                </td>
              </tr>
              <tr>
                <td>Et labitur bonorum disputationi his, quo stet.</td>
                <td>2018-06-06</td>
                <td>2018-09-23</td>
                <td>
                  <form action="" method="">
                    <input type="hidden" value="recipe_id">
                    <button type="submit" class="add-brand-corners"><i class="fas fa-trash-alt"></i></button>
                  </form>
                </td>
              </tr>
              <tr>
                <td>Et labitur bonorum disputationi his, quo stet.</td>
                <td>2018-06-06</td>
                <td>2018-09-23</td>
                <td>
                  <form action="" method="">
                    <input type="hidden" value="recipe_id">
                    <button type="submit" class="add-brand-corners"><i class="fas fa-trash-alt"></i></button>
                  </form>
                </td>
              </tr>
              <tr>
                <td>Et labitur bonorum disputationi his, quo stet.</td>
                <td>2018-06-06</td>
                <td>2018-09-23</td>
                <td>
                  <form action="" method="">
                    <input type="hidden" value="recipe_id">
                    <button type="submit" class="add-brand-corners"><i class="fas fa-trash-alt"></i></button>
                  </form>
                </td>
              </tr>
              <tr>
                <td>Et labitur bonorum disputationi his, quo stet.</td>
                <td>2018-06-06</td>
                <td>2018-09-23</td>
                <td>
                  <form action="" method="">
                    <input type="hidden" value="recipe_id">
                    <button type="submit" class="add-brand-corners"><i class="fas fa-trash-alt"></i></button>
                  </form>
                </td>
              </tr>
              <tr>
                <td>Et labitur bonorum disputationi his, quo stet.</td>
                <td>2018-06-06</td>
                <td>2018-09-23</td>
                <td>
                  <form action="" method="">
                    <input type="hidden" value="recipe_id">
                    <button type="submit" class="add-brand-corners"><i class="fas fa-trash-alt"></i></button>
                  </form>
                </td>
              </tr>
              <tr>
                <td>Et labitur bonorum disputationi his, quo stet.</td>
                <td>2018-06-06</td>
                <td>2018-09-23</td>
                <td>
                  <form action="" method="">
                    <input type="hidden" value="recipe_id">
                    <button type="submit" class="add-brand-corners"><i class="fas fa-trash-alt"></i></button>
                  </form>
                </td>
              </tr>
              <tr>
                <td>Et labitur bonorum disputationi his, quo stet.</td>
                <td>2018-06-06</td>
                <td>2018-09-23</td>
                <td>
                  <form action="" method="">
                    <input type="hidden" value="recipe_id">
                    <button type="submit" class="add-brand-corners"><i class="fas fa-trash-alt"></i></button>
                  </form>
                </td>
              </tr>
            </table>
          </div>
        </div>
        <div class="show-profile-user-personalization-block">
          <div class="show-profile-preferences-box">
            <div class="">
              <h6>Food Preference</h6>
              <table class="show-profile-personalization-list">
                <% @all_preferences.each do |preference| %>
                <% pref_present = @user_preferences.any? {|object| object.food_preference_id == preference.id} %>
                <tr style="font-weight: 500;">
                  <%= form_tag('/profile') do -%>
                  <%= profile_form(model: "Food_Preference",
                                   object: preference,
                                   name: "#{preference.name}",
                                   exist: pref_present,
                                   user_id: current_user ).html_safe %>
                  <% end -%>
                </tr>
                <% end %>
              </table>
            </div>
          </div>
          <div class="show-profile-preferences-box">
            <div class="">
              <h6>Food Allergies</h6>
              <table class="show-profile-personalization-list">
                <% @all_allergies.each do |allergy| %>
                <% all_present = @user_allergies.any? {|object| object.allergy_id == allergy.id} %>
                <tr style="font-weight: 500;">
                  <%= form_tag('/profile') do -%>
                    <%= profile_form(model: "Allergy",
                                     object: allergy,
                                     name: "#{allergy.name}",
                                     exist: all_present,
                                     user_id: current_user ).html_safe %>
                  <% end -%>
                </tr>
                <% end %>
              </table>
            </div>
          </div>
          <div class="show-profile-preferences-box">
            <div class="">
              <h6>Special Diets</h6>
              <table class="show-profile-personalization-list">
                <% @all_diets.each do |diet| %>
                <% diet_present = @user_diets.any? {|object| object.special_diet_id == diet.id} %>
                <tr style="font-weight: 500;">
                  <%= form_tag('/profile') do -%>
                  <%= profile_form(model: "Special_Diet",
                                   object: diet,
                                   name: "#{diet.name}",
                                   exist: diet_present,
                                   user_id: current_user ).html_safe %>
                  <% end -%>
                </tr>
                <% end %>
              </table>
            </div>
          </div>

        </div>

      </div>
    </div>

  </div> <!-- show user profile -->

</div><!-- bootstrap container -->
