
<% ingredients = recipe.ingredients
photo = recipe.photo_link
link = recipe_path(recipe)
ingredients = ingredients
prep_time = recipe.prep_time
cook_time = recipe.cook_time
recipe_name = recipe.name
id = recipe.id %>


<div id="info_card-<%= id %>" class="recipe-summary-block-outer">
  <div class="recipe-summary-block-inner">
    <div class="recipe-summary-photo-box">
    <!-- Consider updating line below (cheap-fix) -->
    <%= link_to "recipes/#{id}" do %>
      <%= image_tag photo, alt: "Photo of #{recipe_name}", height: "237.5" %>
    <% end %>
    </div>
    <div class="recipe-summary-info-box">
      <div class="recipe-summary-info-name">
       <h5><%#= recipe_name %> <%= link_to "#{recipe_name} <i class=\"fas fa-link\"></i>".html_safe, link %> </h5>
     </div>
     <div class="recipe-summary-info-specs">
      <div class="recipe-summary-info-ingredients">
        <% ingredients.each do |ingredient| %>
        <div class="recipe-summary-ingredient-item"> <%= ingredient.name %>
        </div>
        <% end %>
      </div>
      <div class="recipe-summary-info-time">
        <h6>Total Time: <%= prep_time + cook_time %> </h6>
        <p>Prep Time: <%= prep_time %></p>
        <p>Cook Time: <%= cook_time %></p>
      </div>
    </div>
  </div>
</div>
</div>


