
  <div class="index-recipe-shuffle-button">
    <%= link_to shuffle_path, remote: true do -%>
      <button class="btn rd-button btn-danger">Shuffle Unlocked Recipes!</button>
    <% end %>
  </div>
<div class="index-recipe-container">

  <div class="index-all-recipe-outer">
    <!-- In case of emergency, replace  -->
    <% days = %w[Monday Tuesday Wednesday Thursday Friday] %>
    <% @five_recipes.each_with_index do |recipe, i| %>
      <% day = days[i] %>
      <div class="index-single-recipe-outer" data-locked="false" data-recipeid="<%= recipe.id %>" id="<%= day.downcase %>"> <!-- data-recipe-id="<%= recipe.id %>" -->
        <%= render "recipes/recipe_display_card", recipe: recipe, day: day %>
      </div>
    <% end %>
  </div>

  <div class="index-recipe-name-board add-brand-corners">
    <h5 id="dynamic-recipe-name"></h5>
    <h5>Roll over images to view recipe name. Click image for recipe 'quick-view'!</h5>
  </div>

  <div class="index-recipe-summary-card">
    <% @five_recipes.each do |recipe| %>
      <%= render "recipes/recipe_summary_card", recipe: recipe %>
    <% end %>
  </div>

</div>

<%#= link_to "recipes/#{id}" do %>
      <%#= image_tag photo, alt: "Photo of #{recipe_name}", height: "237.5" %>
    <%# end %>

<!-- working form below: -->
<%= form_tag user_recipes_path do %>
  <%= hidden_field_tag :monday_id, @five_recipes[0].id %>
  <%= hidden_field_tag :tuesday_id, @five_recipes[1].id %>
  <%= hidden_field_tag :wednesday_id, @five_recipes[2].id %>
  <%= hidden_field_tag :thursday_id, @five_recipes[3].id %>
  <%= hidden_field_tag :friday_id, @five_recipes[4].id %>
  <%= submit_tag "Save Week" %>
<% end %>




