<div class="container">
  <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
    <h1>DESIGN</h1>
    <hr>
    <h3>Design Manifesto:</h3><p>The design will be moderatly ornate with a clean body font and more decorative heading font. The goal is to be hip but not exciting and balanced between old-school and modern. The people who will be centrally targeted for this app are modern enough to be career minded and traditional enough to recognize that dinner as a family is still a priority.</p>
    <hr>
    <h3>Demographic Targets</h3>
    <ul>
      <li>Core living status: couples living together: married & unmarried, children or not</li>
      <li>Family Size: All</li>
      <li>Family Organisation: Both adults working</li>
      <li>Emloyment: Full time professional</li>
      <li>Occupation: All</li>
      <li>Income Strata: Middle-class</li>
      <li>Core gender: Both women and men</li>
      <li>Core age: 25 - 45</li>
    </ul>
  </p>
  <hr>
  <h3>Design Specifications:</h3><p>
    <ul>
      <li>Headings Font Family: "Jessica-Bold", "cursive"</li>
      <li>Body Font Family: "Raleway", "CenturyGothic", "sans-serif"</li>
      <li>Body Font Size: 17px</li>
      <br>
      <li>Desktop Navbar: Full width and fixed</li>
      <li>Mobile Navbar: Full width and fixed</li>
      <li>Navbar will have search form</li>
      <br>
      <li>Desktop Footer: Full width color, margined content inside container</li>
      <li>Mobile Navbar: Full width</li>
      <br>
      <li>Desktop Recipe Cards: 50% width</li>
      <li>Mobile & Tablet Recipe Cards: 100% width</li>
      <br>
      <li>Buttons: Hover transitions and branded-bowed walls look, no large radius</li>
      <li>Inputs: Active highlighting, and branded-bowed walls look</li>
      <li>Text Links: Bolded and shifted color, no underlining</li>
      <br>
      <li>Generally:<br>
        - no squared corners, no border-radius exceeding 4px<br>
        - subtle gradations on all 'colored' elements<br>
      - more to come...</li>
    </ul>
  </p>
  <hr>
  <h3>Headings</h3>
  <h1>H1 (52px)</h1>
  <h2>H2 (44px)</h2>
  <h3>H3 (36px)</h3>
  <h4>H4 (28px)</h4>
  <h5>H5 (20px)</h5>
  <h6>H6 (body font size)</h6>
  <hr>

  <p>This is a 'p' tag. <br>This is what the line-height looks like. <br>This is also what the letter spacing looks like. <br>This is what a <a href="#">text link looks like</a>.</p>
  <hr>
  <button class="btn btn-primary rd-button">Primary: class(es): "btn btn-primary rd-button" </button><button class="btn btn-primary rd-button btn-lg">Add! "btn-lg"</button><button class="btn btn-primary rd-button btn-sm">Add! "btn-sm"</button><br>
  <!-- <button class="btn rd-secondary rd-button">Secondary</button><br> -->
  <button class="btn btn-success rd-button">Success: class(es): "btn btn-success rd-button" </button><br>
  <button class="btn btn-info rd-button">Info: class(es): "btn btn-info rd-button" </button><br>
  <button class="btn btn-warning rd-button">Call to Action(CTA): class(es): "btn btn-warning rd-button" </button><br>
  <button class="btn btn-danger rd-button">Danger: class(es): "btn btn-danger rd-button" </button><br>

  <hr>
  <h3>Recipe Card</h3>





  <div class="col-xs-12 col-md-6">
    <div class="card-outer">
      <div class="card-inner"><!-- FLEXBOX -->

        <div class="dish-image-container-outer"> <!-- Flex item 1 of 2 fixed -->
          <div class="cta-splash"><i class="fas fa-star"></i></div>

          <!--<div class="recipe-control-bar">
            <div class="recipe-control-button"><a href="#">Lock</a></div>
            <div class="recipe-control-button"><a href="#">Next</a></div>
          </div>-->
          <div class="dish-image-container-inner">

            <a href="#" class=""><!--links to details page-->
              <img class="dish-image" src="https://cdn-image.myrecipes.com/sites/default/files/styles/4_3_horizontal_-_1200x900/public/image/recipes/ck/10/01/tuna-noodle-casserole-ck-x.jpg?itok=aGvmJ42x" alt="photo of Tuna Fish Casserole" height="150">
            </a>
          </div>
        </div>

        <div class="recipe-evaluator-block"> <!-- Flex item 2 of 2 flexible -->
          <a href="#" class=""><!--links to details page-->
            <div class="recipe-name">Tuna Fish Caserole Tuna</div>
          </a>

          <div class="add-to-favorites"><i class="far fa-heart" title="Add to Favorites!"></i></div>

          <div class="recipe-graphs-contianer">
            <table class="recipe-card-graphs-table">
              <tr>
                <td>Time: </td>
                <td>
                  <div class="recipe-card-graph" style="background: linear-gradient(90deg, rgba(242, 172, 60, 0.75)75%, rgba(255, 255, 255, 0.75)76% );"></div>
                </td>
              </tr>
              <tr>
                <td>Difficulty: </td>
                <td>
                  <div class="recipe-card-graph" style="background: linear-gradient(90deg, rgba(242, 172, 60, 0.75)33%, rgba(255, 255, 255, 0.75)34% );"></div>
                </td>
              </tr>
              <tr>
                <td>Ingredients: </td>
                <td>
                  <div class="recipe-card-graph" style="background: linear-gradient(90deg, rgba(242, 172, 60, 0.75)66%, rgba(255, 255, 255, 0.75)67% );"></div>
                </td>
              </tr>
            </table>
          </div>

          <div class="recipe-category-block">
            <%= image_tag 'recipes/icons/dairy-free.svg', height: "25" %>
            <%= image_tag 'recipes/icons/gluten-free.svg', height: "25" %>
            <%= image_tag 'recipes/icons/nut-free.svg', height: "25" %>
            <%= image_tag 'recipes/icons/vegan.svg', height: "25" %>
            <%= image_tag 'recipes/icons/vegetarian.svg', height: "25" %>

            <!--a list pf preset category icons which will be colored or not based upon boolean logic-->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-6">
    <div class="card-outer">
      <div class="card-inner"><!-- FLEXBOX -->

        <div class="dish-image-container-outer"> <!-- Flex item 1 of 2 fixed -->
          <div class="cta-splash"><i class="fas fa-star"></i></div>

          <!--<div class="recipe-control-bar">
            <div class="recipe-control-button"><a href="#">Lock</a></div>
            <div class="recipe-control-button"><a href="#">Next</a></div>
          </div>-->
          <div class="dish-image-container-inner">

            <a href="#" class=""><!--links to details page-->
              <img class="dish-image" src="https://spoonacular.com/recipeImages/824260-556x370.jpg" alt="photo of this Dish" height="150">
            </a>
          </div>
        </div>

        <div class="recipe-evaluator-block"> <!-- Flex item 2 of 2 flexible -->
          <a href="#" class=""><!--links to details page-->
            <div class="recipe-name">Better than Rotisserie...</div>
          </a>

          <div class="add-to-favorites"><i class="far fa-heart" title="Add to Favorites!"></i></div>

          <div class="recipe-graphs-contianer">
            <table class="recipe-card-graphs-table">
              <tr>
                <td>Time: </td>
                <td>
                  <div class="recipe-card-graph" style="background: linear-gradient(90deg, rgba(242, 172, 60, 0.75)75%, rgba(255, 255, 255, 0.75)76% );"></div>
                </td>
              </tr>
              <tr>
                <td>Difficulty: </td>
                <td>
                  <div class="recipe-card-graph" style="background: linear-gradient(90deg, rgba(242, 172, 60, 0.75)33%, rgba(255, 255, 255, 0.75)34% );"></div>
                </td>
              </tr>
              <tr>
                <td>Ingredients: </td>
                <td>
                  <div class="recipe-card-graph" style="background: linear-gradient(90deg, rgba(242, 172, 60, 0.75)66%, rgba(255, 255, 255, 0.75)67% );"></div>
                </td>
              </tr>
            </table>
          </div>

          <div class="recipe-category-block">
            <%= image_tag 'recipes/icons/dairy-free.svg', height: "25" %>
            <%= image_tag 'recipes/icons/gluten-free.svg', height: "25" %>
            <%= image_tag 'recipes/icons/nut-free.svg', height: "25" %>
            <%= image_tag 'recipes/icons/vegan.svg', height: "25" %>
            <%= image_tag 'recipes/icons/vegetarian.svg', height: "25" %>

            <!--a list pf preset category icons which will be colored or not based upon boolean logic-->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-6">
    <div class="card-outer">
      <div class="card-inner"><!-- FLEXBOX -->

        <div class="dish-image-container-outer"> <!-- Flex item 1 of 2 fixed -->
          <div class="cta-splash"><i class="fas fa-star"></i></div>

          <!--<div class="recipe-control-bar">
            <div class="recipe-control-button"><a href="#">Lock</a></div>
            <div class="recipe-control-button"><a href="#">Next</a></div>
          </div>-->
          <div class="dish-image-container-inner">

            <a href="#" class=""><!--links to details page-->
              <img class="dish-image" src="https://spoonacular.com/recipeImages/213619-556x370.jpg" alt="photo of Lime & ginger salmon" height="150">
            </a>
          </div>
        </div>

        <div class="recipe-evaluator-block"> <!-- Flex item 2 of 2 flexible -->
          <a href="#" class=""><!--links to details page-->
            <div class="recipe-name">Lime & ginger salmon</div>
          </a>

          <div class="add-to-favorites"><i class="far fa-heart" title="Add to Favorites!"></i></div>

          <div class="recipe-graphs-contianer">
            <table class="recipe-card-graphs-table">
              <tr>
                <td>Time: </td>
                <td>
                  <div class="recipe-card-graph" style="background: linear-gradient(90deg, rgba(242, 172, 60, 0.75)75%, rgba(255, 255, 255, 0.75)76% );"></div>
                </td>
              </tr>
              <tr>
                <td>Difficulty: </td>
                <td>
                  <div class="recipe-card-graph" style="background: linear-gradient(90deg, rgba(242, 172, 60, 0.75)33%, rgba(255, 255, 255, 0.75)34% );"></div>
                </td>
              </tr>
              <tr>
                <td>Ingredients: </td>
                <td>
                  <div class="recipe-card-graph" style="background: linear-gradient(90deg, rgba(242, 172, 60, 0.75)66%, rgba(255, 255, 255, 0.75)67% );"></div>
                </td>
              </tr>
            </table>
          </div>

          <div class="recipe-category-block">
            <%= image_tag 'recipes/icons/dairy-free.svg', height: "25" %>
            <%= image_tag 'recipes/icons/gluten-free.svg', height: "25" %>
            <%= image_tag 'recipes/icons/nut-free.svg', height: "25" %>
            <%= image_tag 'recipes/icons/vegan.svg', height: "25" %>
            <%= image_tag 'recipes/icons/vegetarian.svg', height: "25" %>

            <!--a list pf preset category icons which will be colored or not based upon boolean logic-->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-6">
    <div class="card-outer">
      <div class="card-inner"><!-- FLEXBOX -->

        <div class="dish-image-container-outer"> <!-- Flex item 1 of 2 fixed -->
          <div class="cta-splash"><i class="fas fa-star"></i></div>

          <!--<div class="recipe-control-bar">
            <div class="recipe-control-button"><a href="#">Lock</a></div>
            <div class="recipe-control-button"><a href="#">Next</a></div>
          </div>-->
          <div class="dish-image-container-inner">

            <a href="#" class=""><!--links to details page-->
              <img class="dish-image" src="https://spoonacular.com/recipeImages/730857-556x370.jpg" alt="photo of Hummus Wrap with Halloumi" height="150">
            </a>
          </div>
        </div>

        <div class="recipe-evaluator-block"> <!-- Flex item 2 of 2 flexible -->
          <a href="#" class=""><!--links to details page-->
            <div class="recipe-name">Hummus Wrap with Halloumi</div>
          </a>

          <div class="add-to-favorites"><i class="far fa-heart" title="Add to Favorites!"></i></div>

          <div class="recipe-graphs-contianer">
            <table class="recipe-card-graphs-table">
              <tr>
                <td>Time: </td>
                <td>
                  <div class="recipe-card-graph" style="background: linear-gradient(90deg, rgba(242, 172, 60, 0.75)75%, rgba(255, 255, 255, 0.75)76% );"></div>
                </td>
              </tr>
              <tr>
                <td>Difficulty: </td>
                <td>
                  <div class="recipe-card-graph" style="background: linear-gradient(90deg, rgba(242, 172, 60, 0.75)33%, rgba(255, 255, 255, 0.75)34% );"></div>
                </td>
              </tr>
              <tr>
                <td>Ingredients: </td>
                <td>
                  <div class="recipe-card-graph" style="background: linear-gradient(90deg, rgba(242, 172, 60, 0.75)66%, rgba(255, 255, 255, 0.75)67% );"></div>
                </td>
              </tr>
            </table>
          </div>

          <div class="recipe-category-block">
            <%= image_tag 'recipes/icons/dairy-free.svg', height: "25" %>
            <%= image_tag 'recipes/icons/gluten-free.svg', height: "25" %>
            <%= image_tag 'recipes/icons/nut-free.svg', height: "25" %>
            <%= image_tag 'recipes/icons/vegan.svg', height: "25" %>
            <%= image_tag 'recipes/icons/vegetarian.svg', height: "25" %>

            <!--a list pf preset category icons which will be colored or not based upon boolean logic-->
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
</div>
</div>
